.content-container {
  display: flex;
  flex-direction: column;
  background-color: var(--container-bg);
  padding: 4px 12px;
}

#dog-quiz {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 1rem;
}

.content-heading {
  color: var(--bg-heading);
  font-size: 1.75rem;
  text-align: center;
}

.content-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.15rem;
  color: var(--light-blue);
}

.content-buttons {
  display: flex;
  justify-content: space-around;
  padding: 0 1em 1em;
  gap: 2rem;
}

.content-buttons img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#dog-btn,
#cat-btn {
  background-color: var(--lemon);
  border-color: var(--container-bg);
  border-radius: 1em;
  max-width: 200px;
  width: 50%;
  min-width: 20%;
  height: auto;
  flex: auto;
}
