.content-container {
  display: flex;
  flex-direction: column;
  background-color: var(--container-bg);
  padding: 4px 12px;
}

.content-heading {
  color: var(--bg-heading);
  font-size: 24px;
  text-align: center;
}

.content-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.content-buttons {
  display: flex;
  justify-content: space-around;
  padding: 0 1em 1em;
  gap: 24px;
}

#pup-quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

#corgi-btn,
#cat-btn {
  background-color: #fbf4d7;
  border-color: var(--container-bg);
  border-radius: 1em;
}

/* #corgi-btn img { */
/*   width: 100%; */
/*   height: 100%; */
/* } */

/* #cat-btn img { */
/*   width: 100%; */
/*   height: 100%; */
/* } */
