.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--container-bg);
  padding: 4px 12px;
}

.navbar-menu,
.navbar-profile {
  width: 3rem;
  border-radius: 0.5rem;
  background-color: var(--lemon);
  border-color: var(--container-bg);
  box-shadow: rgba(0, 0, 0, 0.25) 2px 1px 5px;
}

.navbar-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.navbar-heading {
  font-size: 2.25rem;
  color: var(--bg-heading);
  text-decoration-line: underline;
}
